Repository ChainSafe/forest, pull requests merged in 2020-05, with the labels that each got.

#388 Interop updates and refactoring
  .gitignore
  Makefile
  README.md
  blockchain/blocks/src/tipset.rs
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/src/sync/peer_test.rs
  blockchain/state_manager/src/lib.rs
  forest/Cargo.toml
  forest/src/cli/devnet.car
  forest/src/cli/genesis.rs
  forest/src/cli/mod.rs
  forest/src/main.rs
  ipld/car/tests/car_file_test.rs
  ipld/car/tests/test.car
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/config.rs
  node/forest_libp2p/src/hello/message.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/hello_test.rs
  tests/serialization_tests/tests/u_message_ser.rs
  utils/rleplus/src/lib.rs
  vm/actor/Cargo.toml
  vm/actor/src/builtin/init/state.rs
  vm/interpreter/Cargo.toml
  vm/message/src/unsigned_message.rs
Labels: Blockchain, Node, Status: Needs Review

#395 IPLD Selector framework with serialization
  ipld/Cargo.toml
  ipld/src/lib.rs
  ipld/src/selector/empty_map.rs
  ipld/src/selector/mod.rs
  ipld/src/selector/path_segment.rs
  ipld/tests/selector_gen_tests.rs
Labels: IPLD, Status: Needs Review

#390 DAGJson support for Ipld
  Makefile
  blockchain/blocks/Cargo.toml
  ipld/Cargo.toml
  ipld/blockstore/src/buffered.rs
  ipld/car/Cargo.toml
  ipld/cid/Cargo.toml
  ipld/cid/src/json.rs
  ipld/cid/src/lib.rs
  ipld/cid/tests/json_tests.rs
  ipld/cid/tests/serde_tests.rs
  ipld/hamt/src/node.rs
  ipld/src/error.rs
  ipld/src/json.rs
  ipld/src/lib.rs
  ipld/src/macros.rs
  ipld/src/ser.rs
  ipld/tests/cbor_test.rs
  ipld/tests/ipld_test.rs
  ipld/tests/json_tests.rs
  tests/serialization_tests/Cargo.toml
  tests/serialization_tests/src/lib.rs
  tests/serialization_tests/tests/block_header_ser.rs
  vm/Cargo.toml
  vm/actor/Cargo.toml
  vm/interpreter/src/default_runtime.rs
  vm/interpreter/src/vm.rs
  vm/runtime/Cargo.toml
Labels: IPLD, Status: Needs Review

#393 implement verify seal syscall
  vm/runtime/Cargo.toml
  vm/runtime/src/lib.rs
  vm/runtime/tests/syscalls_test.rs
Labels: Status: Needs Review, VM

#399 Bump Dependencies
  blockchain/blocks/Cargo.toml
  blockchain/chain_sync/Cargo.toml
  forest/Cargo.toml
  node/db/Cargo.toml
  node/db/src/rocks.rs
  node/forest_libp2p/Cargo.toml
  tests/serialization_tests/Cargo.toml
  utils/test_utils/Cargo.toml
Labels: Status: Merge Ready, Type: Maintenance

#400 Update proofs api
  .github/workflows/ci-rust.yml
  utils/commcid/Cargo.toml
  vm/Cargo.toml
  vm/runtime/Cargo.toml
Labels: Status: Needs Review, Type: Maintenance

#397 Clean up tipsets
  blockchain/blocks/src/errors.rs
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/tipset.rs
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain/src/store/tip_index.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
  node/forest_libp2p/src/blocksync/message.rs
  node/forest_libp2p/tests/decode_test.rs
  tests/serialization_tests/tests/block_header_ser.rs
  utils/test_utils/src/chain_structures.rs
Labels: Blockchain, Status: Merge Ready

#394 Init test porting
  vm/actor/src/builtin/cron/mod.rs
  vm/actor/tests/account_actor_test.rs
  vm/actor/tests/common/mod.rs
  vm/actor/tests/cron_actor_test.rs
  vm/actor/tests/init_actor_test.rs
Labels: Status: Merge Ready, VM

#401 refactor with structops macro
  forest/Cargo.toml
  forest/src/cli/genesis.rs
  forest/src/cli/mod.rs
  forest/src/main.rs
Labels: CLI, Status: Merge Ready

#402 Selector explore implementation
  ipld/src/selector/mod.rs
  ipld/src/selector/path_segment.rs
  ipld/tests/selector_explore.json
  ipld/tests/selector_explore.rs
Labels: IPLD, Status: Needs Review

#409 Async Block verification in ChainSync
  blockchain/chain_sync/src/sync.rs
  tests/serialization_tests/Cargo.toml
Labels: Blockchain, Status: Needs Review

#407 SyncBucket cleanup
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/tipset.rs
  blockchain/chain_sync/src/bucket.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
  ipld/cid/src/codec.rs
  ipld/cid/src/lib.rs
  ipld/cid/src/version.rs
Labels: Blockchain, Status: Merge Ready

#404 Jaden/tipsetconversions
  blockchain/blocks/src/tipset.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
Labels: Blockchain, Status: Needs Review

#408 Ipld selector traversals implementation
  ipld/Cargo.toml
  ipld/src/error.rs
  ipld/src/lib.rs
  ipld/src/path.rs
  ipld/src/path_segment.rs
  ipld/src/selector/mod.rs
  ipld/src/selector/walk.rs
  ipld/tests/selector_explore.rs
  ipld/tests/selector_gen_tests.rs
  ipld/tests/selector_walk.json
  ipld/tests/selector_walk_links.json
  ipld/tests/walk_tests.rs
Labels: IPLD, Status: Needs Review

#413 Implement Verify Registry Actor
  vm/actor/src/builtin/mod.rs
  vm/actor/src/builtin/verifreg/mod.rs
  vm/actor/src/builtin/verifreg/state.rs
  vm/actor/src/builtin/verifreg/types.rs
Labels: Status: Merge Ready, VM

#417 Shared types refactor
  Cargo.toml
  Makefile
  blockchain/blocks/Cargo.toml
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/ticket.rs
  tests/serialization_tests/Cargo.toml
  tests/serialization_tests/tests/block_header_ser.rs
  types/Cargo.toml
  types/src/lib.rs
  types/src/piece/mod.rs
  types/src/piece/zero.rs
  types/src/sector/mod.rs
  types/src/sector/post.rs
  types/src/sector/registered_proof.rs
  types/src/sector/seal.rs
  types/src/sector/serde.rs
  vm/Cargo.toml
  vm/actor/Cargo.toml
  vm/actor/src/builtin/market/deal.rs
  vm/actor/src/builtin/market/mod.rs
  vm/actor/src/builtin/market/policy.rs
  vm/actor/src/builtin/market/types.rs
  vm/actor/src/builtin/miner/state.rs
  vm/actor/src/builtin/power/types.rs
  vm/interpreter/Cargo.toml
  vm/interpreter/src/default_runtime.rs
  vm/interpreter/src/gas_block_store.rs
  vm/interpreter/src/gas_syscalls.rs
  vm/interpreter/src/gas_tracker/mod.rs
  vm/interpreter/src/gas_tracker/price_list.rs
  vm/interpreter/src/lib.rs
  vm/interpreter/src/vm.rs
  vm/runtime/Cargo.toml
  vm/runtime/src/lib.rs
  vm/runtime/tests/syscalls_test.rs
  vm/src/lib.rs
Labels: Status: Merge Ready, Type: Maintenance

#416 implemented verify post
  types/src/sector/post.rs
  types/src/sector/registered_proof.rs
  types/src/sector/serde.rs
  vm/runtime/src/lib.rs
Labels: Status: Needs Review, VM

#422 Remove Address default implementation
  blockchain/blocks/src/header.rs
  blockchain/chain_sync/src/bucket.rs
  node/forest_libp2p/tests/decode_test.rs
  vm/actor/src/builtin/paych/state.rs
  vm/actor/src/builtin/paych/types.rs
  vm/actor/tests/common/mod.rs
  vm/address/src/lib.rs
  vm/address/src/payload.rs
  vm/address/src/protocol.rs
  vm/interpreter/src/gas_syscalls.rs
Labels: Status: Needs Review, Type: Maintenance

#421 Update docs and use rocksdb as feature
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  forest/Cargo.toml
  ipld/blockstore/Cargo.toml
  ipld/blockstore/src/lib.rs
  node/db/Cargo.toml
  node/db/src/errors.rs
  node/db/src/lib.rs
  node/db/src/rocks.rs
  node/db/tests/db_utils/mod.rs
  node/db/tests/rocks_test.rs
Labels: Status: Needs Review, Type: Maintenance

#418 Last block info for selectors
  .gitmodules
  Makefile
  ipld/Cargo.toml
  ipld/src/selector/mod.rs
  ipld/src/selector/walk.rs
  ipld/tests/ipld-traversal-vectors/selector_explore.json
  ipld/tests/ipld-traversal-vectors/selector_walk.json
  ipld/tests/ipld-traversal-vectors/selector_walk_links.json
  ipld/tests/selector_explore.rs
  ipld/tests/walk_tests.rs
  tests/serialization_tests/Cargo.toml
  tests/serialization_tests/src/lib.rs
  tests/serialization_tests/tests/block_header_ser.rs
  tests/serialization_tests/tests/u_message_ser.rs
Labels: IPLD, Status: Needs Review

#424 Add default implementations for Store bulk operations
  node/db/src/lib.rs
  node/db/src/memory.rs
  node/db/src/rocks.rs
Labels: Node, Status: Merge Ready

#425 Cargo changes for publishing core crates
  Makefile
  blockchain/blocks/Cargo.toml
  blockchain/chain/Cargo.toml
  blockchain/chain_sync/Cargo.toml
  crypto/Cargo.toml
  encoding/Cargo.toml
  ipld/cid/Cargo.toml
  node/forest_libp2p/Cargo.toml
  tests/serialization_tests/Cargo.toml
  types/Cargo.toml
  utils/bigint/Cargo.toml
  utils/test_utils/Cargo.toml
  vm/Cargo.toml
  vm/actor/Cargo.toml
  vm/address/Cargo.toml
  vm/interpreter/Cargo.toml
  vm/message/Cargo.toml
  vm/runtime/Cargo.toml
  vm/state_tree/Cargo.toml
  vm/tests/params_test.rs
Labels: Status: Merge Ready, Type: Maintenance

#431 Update prefix bytes encoding to include mh len
  ipld/cid/src/lib.rs
  ipld/cid/src/prefix.rs
  ipld/cid/tests/base_cid_tests.rs
Labels: IPLD, Status: Needs Review

#419 Jaden/chainsync/asyncverification
  blockchain/chain_sync/src/sync.rs
  blockchain/state_manager/src/lib.rs
Labels: Status: Needs Review, Type: Enhancement

#432 Jaden/chainstore refactor
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/src/sync/peer_test.rs
Labels: Blockchain, Priority: 2 - High, RPC, Status: Needs Review

#387 Verifying Drand Entries from Blocks
  blockchain/beacon/Cargo.toml
  blockchain/beacon/src/beacon_entries.rs
  blockchain/beacon/src/drand.rs
  blockchain/beacon/src/lib.rs
  blockchain/beacon/src/mock_beacon.rs
  blockchain/beacon/tests/drand.rs
  blockchain/blocks/src/header.rs
  blockchain/chain/Cargo.toml
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/src/sync/peer_test.rs
  forest/Cargo.toml
  forest/src/cli/config.rs
  forest/src/main.rs
Labels: Blockchain, Drand, Status: Needs Review

#434 Setup GraphSync message types and protobuf encoding
  Cargo.toml
  Makefile
  ipld/graphsync/Cargo.toml
  ipld/graphsync/build.rs
  ipld/graphsync/src/lib.rs
  ipld/graphsync/src/message/mod.rs
  ipld/graphsync/src/message/proto/message.proto
  ipld/graphsync/src/message/proto/message.rs
  ipld/graphsync/src/message/proto/mod.rs
  ipld/graphsync/tests/proto_roundtrip.rs
  ipld/src/selector/mod.rs
  scripts/add_license.sh
Labels: GraphSync, Status: Needs Review

#438 Add Secp address sanity check
  crypto/Cargo.toml
  crypto/src/signature.rs
  utils/test_utils/src/chain_structures.rs
  vm/Cargo.toml
  vm/actor/tests/account_actor_test.rs
  vm/address/Cargo.toml
  vm/address/src/errors.rs
  vm/address/src/lib.rs
  vm/address/tests/address_test.rs
  vm/message/Cargo.toml
  vm/state_tree/tests/state_tree_tests.rs
Labels: Status: Merge Ready, VM

#433 Remove a bajillion manual serde implementations
  blockchain/blocks/src/block.rs
  blockchain/blocks/src/lib.rs
  blockchain/blocks/src/ticket.rs
  blockchain/blocks/src/tipset.rs
  encoding/Cargo.toml
  encoding/src/bytes.rs
  encoding/src/lib.rs
  ipld/hamt/src/lib.rs
  node/forest_libp2p/src/blocksync/message.rs
  node/forest_libp2p/src/hello/message.rs
  types/src/piece/mod.rs
  types/src/sector/mod.rs
  types/src/sector/post.rs
  types/src/sector/registered_proof.rs
  types/src/sector/seal.rs
  types/src/sector/serde.rs
  types/src/sector/serde_tests.rs
  utils/bigint/src/bigint_ser.rs
  utils/rleplus/src/bitvec_serde.rs
  utils/rleplus/src/lib.rs
  vm/actor/src/builtin/account/state.rs
  vm/actor/src/builtin/cron/mod.rs
  vm/actor/src/builtin/cron/state.rs
  vm/actor/src/builtin/init/params.rs
  vm/actor/src/builtin/init/state.rs
  vm/actor/src/builtin/market/deal.rs
  vm/actor/src/builtin/market/state.rs
  vm/actor/src/builtin/market/types.rs
  vm/actor/src/builtin/miner/state.rs
  vm/actor/src/builtin/multisig/state.rs
  vm/actor/src/builtin/multisig/types.rs
  vm/actor/src/builtin/paych/state.rs
  vm/actor/src/builtin/paych/types.rs
  vm/actor/src/builtin/power/state.rs
  vm/actor/src/builtin/power/types.rs
  vm/actor/src/builtin/reward/state.rs
  vm/actor/src/builtin/reward/types.rs
  vm/actor/src/builtin/verifreg/state.rs
  vm/actor/src/builtin/verifreg/types.rs
  vm/actor/src/lib.rs
  vm/actor/src/util/optional_epoch.rs
  vm/message/src/lib.rs
  vm/message/src/message_receipt.rs
  vm/message/src/signed_message.rs
  vm/runtime/src/lib.rs
  vm/src/actor_state.rs
  vm/src/exit_code.rs
  vm/src/lib.rs
  vm/src/method.rs
  vm/src/randomness.rs
Labels: Status: Merge Ready, encoding

#439 Update libp2p to 0.19
  blockchain/beacon/Cargo.toml
  blockchain/chain_sync/Cargo.toml
  forest/Cargo.toml
  ipld/car/Cargo.toml
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/rpc/behaviour.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/blocksync_test.rs
  node/forest_libp2p/tests/hello_test.rs
  utils/rleplus/Cargo.toml
  vm/actor/Cargo.toml
Labels: Status: Needs Review, Type: Maintenance

#444 Signed and Unsigned message json impls
  blockchain/blocks/src/header.rs
  crypto/Cargo.toml
  crypto/src/lib.rs
  crypto/src/signature.rs
  crypto/src/vrf.rs
  node/forest_libp2p/tests/decode_test.rs
  tests/serialization_tests/Cargo.toml
  tests/serialization_tests/tests/u_message_ser.rs
  utils/test_utils/src/chain_structures.rs
  vm/message/Cargo.toml
  vm/message/src/lib.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
  vm/message/tests/builder_test.rs
  vm/message/tests/message_json_test.rs
Labels: RPC, Status: Needs Review

#451 Update encoding package version
  crypto/Cargo.toml
  encoding/Cargo.toml
Labels: Status: Needs Review, Type: Maintenance

#442 Setup GraphSync network interface
  encoding/src/errors.rs
  ipld/graphsync/Cargo.toml
  ipld/graphsync/src/lib.rs
  ipld/graphsync/src/libp2p/behaviour.rs
  ipld/graphsync/src/libp2p/codec.rs
  ipld/graphsync/src/libp2p/config.rs
  ipld/graphsync/src/libp2p/handler.rs
  ipld/graphsync/src/libp2p/mod.rs
  ipld/graphsync/src/libp2p/protocol.rs
Labels: GraphSync, Status: Needs Review

#450 Fix block header serialization
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/ticket.rs
  forest/src/cli/devnet.car
Labels: Status: Needs Review, Type: Bug

#415 Runtime randomness and ChainStore randomness
  blockchain/blocks/Cargo.toml
  blockchain/blocks/src/tipset.rs
  blockchain/chain/Cargo.toml
  blockchain/chain/src/store/chain_store.rs
  blockchain/state_manager/src/lib.rs
  crypto/src/randomness.rs
  vm/actor/tests/common/mod.rs
  vm/interpreter/Cargo.toml
  vm/interpreter/src/default_runtime.rs
  vm/interpreter/src/lib.rs
  vm/interpreter/src/rand.rs
  vm/interpreter/src/vm.rs
  vm/interpreter/tests/transfer_test.rs
  vm/runtime/src/lib.rs
Labels: Blockchain, Status: Needs Review, VM

#456 Bump to async-std 1.6
  blockchain/beacon/Cargo.toml
  blockchain/chain_sync/Cargo.toml
  forest/Cargo.toml
  ipld/Cargo.toml
  ipld/graphsync/Cargo.toml
  node/forest_libp2p/Cargo.toml
  utils/test_utils/Cargo.toml
Labels: Status: Needs Review, Type: Maintenance

#460 Update dockerfiles for protoc build dep
  Dockerfile
  Dockerfile-ci
Labels: Status: Needs Review, Type: Maintenance

#453 Add PeerResponseSender
  ipld/graphsync/Cargo.toml
  ipld/graphsync/src/lib.rs
  ipld/graphsync/src/response_manager/link_tracker.rs
  ipld/graphsync/src/response_manager/mod.rs
  ipld/graphsync/src/response_manager/peer_response_sender.rs
  ipld/graphsync/src/response_manager/response_builder.rs
  ipld/graphsync/src/test_utils.rs
Labels: GraphSync, Status: Needs Review
