Repository ChainSafe/forest, pull requests merged in 2020-07, with the labels that each got.

#530 Refactor RPC and network events
  Cargo.lock
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/network_handler.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/src/sync/peer_test.rs
  forest/Cargo.toml
  ipld/graphsync/Cargo.toml
  ipld/graphsync/src/message/proto/message.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/blocksync/mod.rs
  node/forest_libp2p/src/hello/message.rs
  node/forest_libp2p/src/hello/mod.rs
  node/forest_libp2p/src/rpc/behaviour.rs
  node/forest_libp2p/src/rpc/codec.rs
  node/forest_libp2p/src/rpc/error.rs
  node/forest_libp2p/src/rpc/handler.rs
  node/forest_libp2p/src/rpc/mod.rs
  node/forest_libp2p/src/rpc/protocol.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/blocksync_test.rs
  node/forest_libp2p/tests/hello_test.rs
  node/forest_libp2p/tests/rpc_test_utils.rs
  utils/test_utils/src/chain_structures.rs
  vm/actor/Cargo.toml
Labels: Network, Status: Merge Ready

#533 Implements deadline tests and chain epoch update to i64
  Cargo.lock
  blockchain/beacon/src/drand.rs
  blockchain/beacon/src/mock_beacon.rs
  blockchain/blocks/src/header/json.rs
  blockchain/blocks/src/header/mod.rs
  blockchain/chain_sync/src/sync.rs
  node/clock/src/lib.rs
  utils/test_utils/src/chain_structures.rs
  vm/actor/Cargo.toml
  vm/actor/src/builtin/market/deal.rs
  vm/actor/src/builtin/market/mod.rs
  vm/actor/src/builtin/market/policy.rs
  vm/actor/src/builtin/market/state.rs
  vm/actor/src/builtin/miner/deadlines.rs
  vm/actor/src/builtin/miner/mod.rs
  vm/actor/src/builtin/miner/policy.rs
  vm/actor/src/builtin/miner/state.rs
  vm/actor/src/builtin/multisig/state.rs
  vm/actor/src/builtin/network.rs
  vm/actor/src/builtin/power/policy.rs
  vm/actor/src/builtin/power/state.rs
  vm/actor/src/builtin/reward/mod.rs
  vm/actor/src/builtin/reward/state.rs
  vm/actor/src/util/mod.rs
  vm/actor/src/util/optional_epoch.rs
  vm/actor/src/util/set_multimap.rs
  vm/actor/tests/deadline_test.rs
  vm/actor/tests/market_actor_test.rs
Labels: Status: Needs Review, VM

#531 Adding RPC Configuration
  forest/src/cli/config.rs
  forest/src/cli/mod.rs
  forest/src/daemon.rs
  node/rpc/src/lib.rs
Labels: CLI, RPC, Status: Merge Ready

#534 Move libp2p from fork and bump versions
  Cargo.lock
  blockchain/beacon/src/drand_api/api.rs
  blockchain/beacon/src/drand_api/common.rs
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/sync/peer_test.rs
  forest/Cargo.toml
  ipld/graphsync/Cargo.toml
  ipld/graphsync/src/message/proto/message.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/blocksync/mod.rs
  node/forest_libp2p/src/hello/mod.rs
  node/forest_libp2p/src/rpc/mod.rs
  node/forest_libp2p/src/service.rs
  node/utils/Cargo.toml
  utils/bitfield/Cargo.toml
  vm/actor/Cargo.toml
Labels: Network, Status: Needs Review

#449 implement msg pool
  Cargo.lock
  Cargo.toml
  Makefile
  blockchain/chain/src/store/chain_store.rs
  blockchain/message_pool/Cargo.toml
  blockchain/message_pool/src/errors.rs
  blockchain/message_pool/src/lib.rs
  blockchain/message_pool/src/msgpool.rs
  crypto/src/signature.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
  vm/src/method.rs
Labels: Blockchain, Priority: 2 - High, Status: Needs Review

#492 paych actor tests
  Cargo.lock
  vm/actor/Cargo.toml
  vm/actor/src/builtin/paych/mod.rs
  vm/actor/src/builtin/paych/state.rs
  vm/actor/src/builtin/paych/types.rs
  vm/actor/tests/common/mod.rs
  vm/actor/tests/cron_actor_test.rs
  vm/actor/tests/init_actor_test.rs
  vm/actor/tests/paych_actor_test.rs
  vm/actor/tests/reward_actor_test.rs
Labels: Status: Merge Ready, VM

#539 Implement Sync API and improve syncing
  Cargo.lock
  blockchain/blocks/src/block.rs
  blockchain/blocks/src/gossip_block.rs
  blockchain/blocks/src/lib.rs
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/bad_block_cache.rs
  blockchain/chain_sync/src/errors.rs
  blockchain/chain_sync/src/lib.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/src/sync_state.rs
  encoding/src/cbor.rs
  forest/src/daemon.rs
  forest/src/logger/mod.rs
  ipld/amt/src/bitmap.rs
  ipld/cid/src/json.rs
  node/forest_libp2p/src/blocksync/message.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/decode_test.rs
  node/rpc/Cargo.toml
  node/rpc/src/chain_api.rs
  node/rpc/src/lib.rs
  node/rpc/src/sync_api.rs
  types/Cargo.toml
  vm/message/src/signed_message.rs
Labels: Node, RPC, Status: Needs Review

#518 Bitswap Integration
  Cargo.lock
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/errors.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/network_handler.rs
  blockchain/chain_sync/src/sync.rs
  forest/src/daemon.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/service.rs
Labels: Blockchain, Network, Status: Needs Review

#546 Update docs publish ubuntu version
  .github/workflows/ci-rust.yml
Labels: Status: Needs Review, Type: Maintenance

#549 Fix Regression in Syncing
  blockchain/chain_sync/src/network_handler.rs
Labels: Blockchain, Status: Needs Review

#543 Have BitField store ranges instead of bytes, and add benchmarks
  .gitignore
  Cargo.lock
  utils/bitfield/Cargo.toml
  utils/bitfield/benches/benchmarks/examples.rs
  utils/bitfield/benches/benchmarks/main.rs
  utils/bitfield/src/iter.rs
  utils/bitfield/src/lib.rs
  utils/bitfield/src/rleplus/iter.rs
  utils/bitfield/src/rleplus/mod.rs
  utils/bitfield/src/rleplus/reader.rs
  utils/bitfield/tests/bitfield_tests.rs
Labels: Status: Needs Review

#512 wallet rpc
  Cargo.lock
  blockchain/message_pool/src/msgpool.rs
  blockchain/state_manager/src/lib.rs
  forest/Cargo.toml
  forest/src/daemon.rs
  key_management/Cargo.toml
  key_management/src/keystore.rs
  key_management/src/wallet.rs
  node/rpc/Cargo.toml
  node/rpc/src/chain_api.rs
  node/rpc/src/lib.rs
  node/rpc/src/sync_api.rs
  node/rpc/src/wallet_api.rs
  vm/message/src/signed_message.rs
Labels: RPC, Status: Needs Review

#548 Test Runner for Message Signing Serialization Vectors
  Cargo.lock
  tests/serialization_tests/Cargo.toml
  tests/serialization_tests/tests/signing_ser.rs
  vm/message/src/unsigned_message.rs
Labels: Crypto, Status: Needs Review, Type: Maintenance

#552 Switch to use MessageInfo and refactor MockRuntime
  vm/actor/src/builtin/init/mod.rs
  vm/actor/src/builtin/market/mod.rs
  vm/actor/src/builtin/miner/mod.rs
  vm/actor/src/builtin/multisig/mod.rs
  vm/actor/src/builtin/paych/mod.rs
  vm/actor/src/builtin/power/mod.rs
  vm/actor/src/builtin/verifreg/mod.rs
  vm/actor/tests/account_actor_test.rs
  vm/actor/tests/common/mod.rs
  vm/actor/tests/cron_actor_test.rs
  vm/actor/tests/init_actor_test.rs
  vm/actor/tests/market_actor_test.rs
  vm/actor/tests/paych_actor_test.rs
  vm/actor/tests/reward_actor_test.rs
  vm/interpreter/src/default_runtime.rs
  vm/runtime/src/lib.rs
Labels: Status: Needs Review, VM

#550 Add actor error convenience macro
  vm/interpreter/src/default_runtime.rs
  vm/interpreter/src/gas_tracker/mod.rs
  vm/interpreter/src/vm.rs
  vm/runtime/src/lib.rs
  vm/src/error.rs
Labels: Status: Needs Review, Type: Maintenance

#532 State API - RPC methods
  .gitignore
  Cargo.lock
  Cargo.toml
  blockchain/chain/Cargo.toml
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/message_pool/src/msgpool.rs
  blockchain/state_manager/Cargo.toml
  blockchain/state_manager/src/lib.rs
  blockchain/state_manager/src/utils.rs
  node/state_api/Cargo.toml
  node/state_api/src/lib.rs
  vm/actor/src/builtin/miner/types.rs
  vm/actor/src/builtin/verifreg/state.rs
  vm/actor/tests/init_actor_test.rs
  vm/actor/tests/market_actor_test.rs
  vm/actor/tests/reward_actor_test.rs
  vm/interpreter/src/vm.rs
  vm/message/src/chain_message.rs
  vm/message/src/lib.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
  vm/src/error.rs
Labels: Blockchain, Status: Needs Changes

#551 Message Pool RPC
  Cargo.lock
  blockchain/message_pool/Cargo.toml
  blockchain/message_pool/src/msgpool.rs
  forest/Cargo.toml
  forest/src/daemon.rs
  node/rpc/Cargo.toml
  node/rpc/src/lib.rs
  node/rpc/src/mpool_api.rs
  node/rpc/src/sync_api.rs
  vm/address/src/lib.rs
Labels: RPC, Status: Needs Review

#569 VM and Runtime updates
  Cargo.lock
  blockchain/state_manager/src/lib.rs
  node/state_api/src/lib.rs
  types/src/lib.rs
  vm/Cargo.toml
  vm/actor/src/builtin/account/mod.rs
  vm/actor/src/builtin/codes.rs
  vm/actor/src/builtin/cron/mod.rs
  vm/actor/src/builtin/init/mod.rs
  vm/actor/src/builtin/init/state.rs
  vm/actor/src/builtin/market/mod.rs
  vm/actor/src/builtin/miner/mod.rs
  vm/actor/src/builtin/multisig/mod.rs
  vm/actor/src/builtin/paych/mod.rs
  vm/actor/src/builtin/power/mod.rs
  vm/actor/src/builtin/reward/mod.rs
  vm/actor/src/builtin/shared.rs
  vm/actor/src/builtin/system/mod.rs
  vm/actor/src/builtin/verifreg/mod.rs
  vm/actor/tests/account_actor_test.rs
  vm/actor/tests/common/mod.rs
  vm/actor/tests/cron_actor_test.rs
  vm/actor/tests/init_actor_test.rs
  vm/actor/tests/market_actor_test.rs
  vm/actor/tests/paych_actor_test.rs
  vm/actor/tests/reward_actor_test.rs
  vm/interpreter/Cargo.toml
  vm/interpreter/src/default_runtime.rs
  vm/interpreter/src/gas_block_store.rs
  vm/interpreter/src/gas_syscalls.rs
  vm/interpreter/src/gas_tracker/mod.rs
  vm/interpreter/src/gas_tracker/price_list.rs
  vm/interpreter/src/vm.rs
  vm/interpreter/tests/transfer_test.rs
  vm/message/src/chain_message.rs
  vm/message/src/lib.rs
  vm/message/src/message_receipt.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
  vm/runtime/src/lib.rs
  vm/src/error.rs
  vm/src/lib.rs
  vm/src/method.rs
  vm/state_tree/src/lib.rs
  vm/state_tree/tests/state_tree_tests.rs
Labels: Status: Needs Review, VM

#589 Update init actor
  vm/actor/src/builtin/init/mod.rs
  vm/actor/src/builtin/init/state.rs
  vm/actor/src/builtin/init/types.rs
  vm/actor/src/lib.rs
  vm/src/error.rs
Labels: Status: Needs Review, VM

#586 Add Drand Beacon Cache
  Cargo.lock
  blockchain/beacon/Cargo.toml
  blockchain/beacon/src/drand.rs
  blockchain/beacon/src/mock_beacon.rs
  blockchain/beacon/tests/drand.rs
  blockchain/blocks/src/header/mod.rs
Labels: Drand, Status: Needs Changes

#570 Add bulk put blockstore function and update header persisting
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/src/sync.rs
  ipld/blockstore/src/lib.rs
  node/db/src/lib.rs
  node/db/src/rocks.rs
Labels: Blockchain, Status: Merge Ready

#588 Update cron actor
  vm/actor/src/builtin/cron/mod.rs
  vm/actor/src/builtin/cron/state.rs
Labels: Status: Merge Ready, VM
