Repository ChainSafe/forest, pull requests merged in 2020-02, with the labels that each got.

#192 CBOR encoding for BlockHeader
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/ticket.rs
  node/clock/Cargo.toml
  node/clock/src/lib.rs
Labels: Blockchain, Status: Needs Changes, encoding

#209 Migration to Stable Futures and Network Refactor
  blockchain/chain/Cargo.toml
  blockchain/chain_sync/Cargo.toml
  node/Cargo.toml
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/config.rs
  node/forest_libp2p/src/lib.rs
  node/forest_libp2p/src/service.rs
  node/network/Cargo.toml
  node/network/src/lib.rs
  node/network/src/service.rs
  node/src/main.rs
Labels: Network, Status: Needs Changes

#213 Add audit to CI
  .github/workflows/audit.yml
  crypto/Cargo.toml
Labels: Status: Needs Review, Type: Maintenance

#214 Clean crypto crate and interfaces with Signature types
  Makefile
  blockchain/blocks/src/tipset.rs
  crypto/src/signature.rs
  crypto/src/vrf.rs
  vm/address/src/lib.rs
Labels: Crypto, Status: Needs Review, Type: Maintenance

#196 Added Fetch and Load Methods
  blockchain/blocks/src/block.rs
  blockchain/blocks/src/tipset.rs
  blockchain/chain/src/store/chain_store.rs
  blockchain/sync_manager/Cargo.toml
  blockchain/sync_manager/src/errors.rs
  blockchain/sync_manager/src/sync.rs
  ipld/cid/Cargo.toml
  ipld/cid/src/error.rs
  vm/message/src/lib.rs
Labels: Blockchain, Status: Needs Review

#220 Entry point for app for organization
  Cargo.toml
  Makefile
  README.md
  forest/Cargo.toml
  forest/src/cli/config.rs
  forest/src/cli/mod.rs
  forest/src/log/mod.rs
  forest/src/main.rs
  node/Cargo.toml
  node/src/lib.rs
Labels: Node, Status: Needs Review

#219 Initial Validation Checks - Message, Timestamp and Block Sig
  blockchain/blocks/src/errors.rs
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/tipset.rs
  blockchain/sync_manager/Cargo.toml
  blockchain/sync_manager/src/errors.rs
  blockchain/sync_manager/src/sync.rs
  node/clock/src/lib.rs
  vm/actor/src/lib.rs
  vm/message/src/lib.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
Labels: Blockchain, Status: Needs Review

#221 Refactor keypair retrieval and saving
  forest/src/cli/config.rs
  forest/src/main.rs
  node/forest_libp2p/src/lib.rs
  node/forest_libp2p/src/service.rs
  node/utils/tests/files.rs
Labels: Node, Status: Needs Review

#228 Fix cbor serialization formats and cleanup
  blockchain/blocks/Cargo.toml
  blockchain/blocks/src/block.rs
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/ticket.rs
  blockchain/blocks/src/tipset.rs
  blockchain/sync_manager/src/sync.rs
  crypto/src/vrf.rs
  node/clock/src/lib.rs
  vm/actor/src/lib.rs
  vm/message/src/lib.rs
  vm/message/src/signed_message.rs
  vm/src/method.rs
Labels: Status: Needs Review, encoding

#230 Refactor blockstore and Cid for usage
  blockchain/blocks/Cargo.toml
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/tipset.rs
  blockchain/chain/Cargo.toml
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain/src/store/tip_index.rs
  blockchain/raw_block/src/lib.rs
  blockchain/raw_block/src/raw_block.rs
  blockchain/sync_manager/Cargo.toml
  blockchain/sync_manager/src/bucket.rs
  blockchain/sync_manager/src/sync.rs
  blockchain/sync_manager/tests/manager_test.rs
  encoding/Cargo.toml
  encoding/src/cbor.rs
  encoding/src/errors.rs
  ipld/Cargo.toml
  ipld/amt/Cargo.toml
  ipld/amt/src/amt.rs
  ipld/amt/src/error.rs
  ipld/amt/src/lib.rs
  ipld/amt/src/node.rs
  ipld/amt/tests/amt_tests.rs
  ipld/blockstore/Cargo.toml
  ipld/blockstore/src/lib.rs
  ipld/cid/Cargo.toml
  ipld/cid/src/error.rs
  ipld/cid/src/lib.rs
  ipld/cid/tests/base_cid_tests.rs
  ipld/cid/tests/serde_tests.rs
  ipld/tests/ipld_test.rs
  vm/message/Cargo.toml
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
Labels: IPLD, Status: Needs Review

#231 Local bigint serialization
  Cargo.toml
  Makefile
  blockchain/blocks/Cargo.toml
  blockchain/blocks/src/header.rs
  blockchain/chain/Cargo.toml
  blockchain/sync_manager/Cargo.toml
  math/bigint/Cargo.toml
  math/bigint/src/bigint_ser.rs
  math/bigint/src/biguint_ser.rs
  math/bigint/src/lib.rs
  vm/Cargo.toml
  vm/actor/Cargo.toml
  vm/message/Cargo.toml
  vm/message/src/unsigned_message.rs
  vm/src/token.rs
  vm/state_tree/Cargo.toml
Labels: Status: Needs Review, encoding

#235 Fix cid serde feature reference
  .github/workflows/ci-rust.yml
  blockchain/blocks/Cargo.toml
  ipld/cid/src/lib.rs
Labels: Status: Needs Review

#232 Global async logging
  forest/Cargo.toml
  forest/src/cli/mod.rs
  forest/src/log/mod.rs
  forest/src/logger/mod.rs
  forest/src/main.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/service.rs
Labels: Node, Status: Merge Ready

#236 Setup Forest execution threads
  forest/Cargo.toml
  forest/src/main.rs
Labels: Node, Status: Needs Review

#224 State Manager and initial miner retrieval methods
  Cargo.toml
  Makefile
  blockchain/state_manager/Cargo.toml
  blockchain/state_manager/src/errors.rs
  blockchain/state_manager/src/lib.rs
  blockchain/sync_manager/Cargo.toml
  blockchain/sync_manager/src/errors.rs
  blockchain/sync_manager/src/sync.rs
  vm/actor/Cargo.toml
  vm/actor/src/builtin/miner_actor.rs
  vm/actor/src/builtin/mod.rs
  vm/actor/src/lib.rs
Labels: Status: Needs Review, VM

#234 Remove all clones and copies from serializations
  blockchain/blocks/src/block.rs
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/ticket.rs
  blockchain/blocks/src/tipset.rs
  vm/message/src/signed_message.rs
  vm/message/src/unsigned_message.rs
Labels: Status: Needs Review, encoding

#238 Refactor SyncManager to have ownership over tipsets
  blockchain/sync_manager/src/bucket.rs
  blockchain/sync_manager/src/manager.rs
  blockchain/sync_manager/src/sync.rs
  blockchain/sync_manager/tests/manager_test.rs
Labels: Blockchain, Status: Needs Review

#233 Allow Address network prefix to be overriden for printing
  blockchain/blocks/src/tipset.rs
  crypto/src/signature.rs
  vm/address/src/lib.rs
  vm/address/tests/address_test.rs
Labels: Status: Needs Review, Type: Enhancement

#239 Update multibase dependency for lowercase base32 support
  ipld/cid/Cargo.toml
  ipld/cid/src/lib.rs
  ipld/cid/src/to_cid.rs
Labels: IPLD, Status: Needs Review

#229 Libp2p RPC protocol and Blocksync
  forest/src/cli/config.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/behaviour.rs
  node/forest_libp2p/src/lib.rs
  node/forest_libp2p/src/rpc/behaviour.rs
  node/forest_libp2p/src/rpc/blocksync_message.rs
  node/forest_libp2p/src/rpc/codec.rs
  node/forest_libp2p/src/rpc/handler.rs
  node/forest_libp2p/src/rpc/mod.rs
  node/forest_libp2p/src/rpc/protocol.rs
  node/forest_libp2p/src/rpc/rpc_message.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/rpc_test.rs
Labels: Network, Node, Status: Needs Changes

#243 ChainSync framework
  .gitignore
  Cargo.toml
  Makefile
  blockchain/blocks/src/header.rs
  blockchain/blocks/src/tipset.rs
  blockchain/chain/Cargo.toml
  blockchain/chain/src/store/chain_store.rs
  blockchain/chain_sync/Cargo.toml
  blockchain/chain_sync/src/block_msg.rs
  blockchain/chain_sync/src/block_proposer.rs
  blockchain/chain_sync/src/bucket.rs
  blockchain/chain_sync/src/errors.rs
  blockchain/chain_sync/src/lib.rs
  blockchain/chain_sync/src/manager.rs
  blockchain/chain_sync/src/network_context.rs
  blockchain/chain_sync/src/sync.rs
  blockchain/chain_sync/tests/manager_test.rs
  blockchain/chain_sync/tests/syncer_test.rs
  blockchain/state_manager/Cargo.toml
  blockchain/state_manager/src/lib.rs
  blockchain/sync_manager/Cargo.toml
  blockchain/sync_manager/src/lib.rs
  blockchain/sync_manager/src/sync.rs
  crypto/Cargo.toml
  forest/Cargo.toml
  forest/src/main.rs
  ipld/amt/Cargo.toml
  ipld/amt/src/amt.rs
  ipld/amt/src/node.rs
  ipld/amt/tests/amt_tests.rs
  node/clock/src/lib.rs
  node/forest_libp2p/Cargo.toml
  node/forest_libp2p/src/rpc/blocksync_message.rs
  node/forest_libp2p/src/rpc/mod.rs
  node/forest_libp2p/src/service.rs
  node/forest_libp2p/tests/decode_test.rs
  node/forest_libp2p/tests/rpc_test.rs
  vm/address/src/lib.rs
  vm/interpreter/Cargo.toml
  vm/interpreter/src/lib.rs
Labels: Blockchain, Network, Status: Needs Review

#240 Adding Verification Function for Aggregate BLS Signatures
  crypto/src/signature.rs
Labels: Crypto, Status: Needs Review
